<!-- Coinzilla Banner 728x90 -->
<div class="ad-container mt-4 mb-4">
    <iframe credentialless src="/banner.html" width="auto" height="90px" loading="lazy" scrolling="no" frameborder="0" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
